* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: right;
  background-color: #000000;
  padding: 4px 4px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.2);
}

header h4 {
  color: #ff0000;
  font-size: 1.5em;
  font-weight: 500;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  justify-items: right;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(38, 216, 216, 0.76);
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 10px;
  transition: 0.5s;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 80%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.link-ig:hover {
  color: rgb(255, 60, 0);
}

.link-yt:hover {
  color: red;
}

.github {
  width: 16px;
  height: 16px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content {
  background-color: rgb(240, 236, 236);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

h1 {
  padding: 3px;
  background-color:rgb(187, 187, 199);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

h2 {
  font-size: medium;
  padding-bottom: 6px;
}

.garis {
  padding: 1px;
  background-color: #000000;
}

.image {
  padding-top: 6px;
}


footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.copyright {
  font-family: 'Times New Roman', Times, serif;
  padding: 2px;
}

@media (max-width: 600px) {
  h2 {
    font-size: small;
    padding-bottom: 6px;
  }  

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .content {
    background-color: rgb(240, 236, 236);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    box-sizing: border-box;
    width: 43%;
  }

  .image {
      width: 140px;
      height: 90px;
      width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  h2 {
    font-size: medium;
    padding-bottom: 6px;
  }  

  main {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .content {
    background-color: rgb(240, 236, 236);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    flex-grow: 1;
  }

  .image {
    width: 140px;
    height: 90px;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  h2 {
    font-size: medium;
    padding-bottom: 6px;
  }  

  main {
    display: flex;
    flex-direction: column;
    min-height: 94.5vh;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .content {
    background-color: rgb(240, 236, 236);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    flex-grow: 1;
  }

  .image {
    width: 140px;
    height: 90px;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  h2 {
    font-size: medium;
    padding-bottom: 6px;
  }  

  main {
    display: flex;
    flex-direction: column;
    min-height: 94.5vh;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .content {
    background-color: rgb(240, 236, 236);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    flex-grow: 1;
  }

  .image {
    width: 140px;
    height: 90px;
  }
}