* {
    margin: 0%;
    padding: 0%;
  }
  
  header {
    position: fixed;
    width: 100%;
  }
  
  body {
    background-color: white;
    color: black;
  }
  
  .dark {
    background-color: black;
    color: white;
  }
  
  .container-fluid-1 {
    background-color: #333;
    display: flex;
    align-items: center;
    color: red;
  }
  
  .navbar-2 {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: red;
    padding: 5px;
  }
  
  .img-navbar-1 {
    width: 70px;
    height: 70px;
  }
  
  .tentangsaya {
    text-decoration: none;
    align-items: center;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    background-color: #333;
    color: red;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    width: 20%;
    height: 20%;
  }
  
  .tentangsaya:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
    transition-delay: 0.1s;
  }
  
  .content-1 {
    background-color: #999;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 10px;
    font-size: larger;
    font-family: Times New Roman;
    text-align: center;
  }
  
  .content-laptop {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .img-laptop {
    width: 50%;
    height: 50%;
    padding: 10px;
    padding-left: 25%;
  }
  
  .text-1 {
    padding: 8px;
    font-family: Arial;
    text-align: left;
  }
  
  .text-2 {
    padding: 8px;
    font-family: Times New Roman;
    font-size: larger;
    text-align: justify;
  }
  .text-3 {
    padding: 8px;
    font-family: Times New Roman;
    font-size: x-large;
  }
  
  .text-5 {
    padding: 8px;
    font-family: Times New Roman;
    font-size: larger;
  }
  
  .img-game {
    width: 50%;
    height: 50%;
    padding-left: 25%;
  }
  
  .img-soft {
    width: 50%;
    height: 50%;
    padding-left: 25%;
  }
  
  .link-1 {
    padding: 8px;
  }
  
  .text-link-1 {
    font-family: Times New Roman;
    font-size: large;
    text-align: justify;
  }
  
  .link {
    color: blue;
  }
  
  .link:hover {
    color: red;
    transition: 0.2s ease-in-out;
    transition-delay: 0.1s;
  }
  
  .text-9 {
    padding: 8px;
    font-family: Arial;
    text-align: justify;
  }
  
  .text-footer {
    color: white;
    font-family: Arial;
  }
  
  .text-footer1 {
    padding-left: 8px;
    text-decoration: none;
    text-align: center;
    font-family: Arial;
    color: white;
  }
  
  .container-fluid-2 a {
    text-decoration: none;
  }
  
  .container-fluid-2 a svg {
    display: inline-block;
  }
  
  .link1 {
    text-align: center;
    text-decoration: none;
    padding: 8px;
  }
  
  .perhatian {
    color: red;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
  }
  
  .footer {
    background-color: #333;
    text-align: center;
    padding-bottom: 1px;
  }
  